.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.ant-layout-content {
  max-height: 100vh;
  overflow: auto;
}
.user-profile span {
  margin-left: 10px;
  color: white;
  font-size: 24px;
}

.logout-button {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.new-book-button {
  background-color: rgb(44, 5, 80) !important ;
}

.menu-toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: darkblue;
  cursor: pointer;
  display: none;
  z-index: 1010;
}

.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-left {
  display: none;
}
.blurred-content {
  filter: blur(8px);
  pointer-events: none;
}

@media (max-width: 1023px) {
  .blur-content {
    filter: blur(4px);
    transition: filter 0.3s ease;
  }

  .menu-toggle-button {
    display: block;
  }
}

@media (min-width: 1024px) {
  .blur-content {
    filter: none;
  }
}

@media (max-width: 767px) {
  .task-card {
    height: auto;
    padding-bottom: 16px;
  }

  .task-card h3 {
    font-size: 18px;
    padding: 12px 16px 0;
  }

  .task-card p {
    padding: 6px 16px;
    font-size: 14px;
  }

  .task-card-actions {
    padding: 0 12px;
    bottom: 8px;
  }

  .complete-icon {
    font-size: 14px;
  }

  .task-card-actions button {
    padding: 6px;
  }
}

.ant-layout-sider {
  z-index: 1000;
}

.ant-modal .modal-ok-button {
  background-color: #007bff;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.ant-modal .modal-ok-button:hover {
  background-color: #0056b3;
}

.success-modal-ok-button {
  background-color: #52c41a;
  color: #fff;
  border-color: #52c41a;

  &:hover,
  &:focus {
    background-color: #73d13d;
    border-color: #73d13d;
  }
}

.complete-icon {
  color: green;
}

.pending-icon {
  color: orange;
}

/* .sidebar-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.logout-button-container {
  margin-top: auto;
} */
